In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [ ]:
city_data_df.count()

In [ ]:
city_data_df.isnull().sum()

In [ ]:
city_data_df.dtypes

In [ ]:
city_data_df["type"].unique()

In [ ]:
sum(city_data_df["type"]=="Urban")

In [ ]:
ride_data_df.count()

In [ ]:
ride_data_df.isnull().sum()

In [ ]:
ride_data_df.dtypes

In [8]:
pyber_data_df = pd.merge(city_data_df, ride_data_df, how='left',on=['city','city'])

In [9]:
pyber_data_df

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2019-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2019-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2019-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2019-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2019-04-17 02:26:37,23.00,720020655850
...,...,...,...,...,...,...
2370,Jessicaport,1,Rural,2019-01-31 17:57:25,58.29,623154556195
2371,South Saramouth,7,Rural,2019-02-20 16:32:36,44.29,3622365199969
2372,South Saramouth,7,Rural,2019-01-28 15:55:33,31.25,7118046558393
2373,South Saramouth,7,Rural,2019-03-27 21:07:16,11.87,170351888128
2374,South Saramouth,7,Rural,2019-04-12 18:11:50,57.23,5081198789583